.navbar {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: var(--color-sticky);
}

.navbar li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
