.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-sticky);
  padding: 0.5rem 0;
  color: var(--color-background);
  font-family: "Patrick Hand";
  z-index: 10;
}

.header__main--homePage {
  font-size: 1rem;
}
