.app {
  text-align: center;
}

.app__main {
  overflow-y: auto;
  padding: 20px;
  max-width: 700px;
  margin: 1.5rem auto 1.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
