.app {
  text-align: center;
  background-color: var(--color-background);
  display: grid;
  grid-template-rows: repeat(3, auto);
  height: 100vh;
}

.app__main {
  overflow-y: auto;
}

.content-wrapper {
  padding: 20px;
  margin: 1.5rem auto 1.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
